// Colors
@btn-color: #fdb303;
@icons-color: #45b713;
@text: #1a1820;
@danger: #ff0000;
@bg-light: #f5f5f5;
@light: #fff;

// Basic setting
html {
  font-size: 10px;
}

// Typography
section {
  padding: 10rem 0px;
}

// main
main {
  padding: 3rem 0;
}

.button {
  width: 100%;
  background-color: @btn-color;
  color: @light;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
}

.phone-link {
  display: inline-block;
  color: @text;
  font-weight: 900;
  font-size: 1.5rem;
}
