.block {
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(90, 90, 90);
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -200px;
  padding: 20px 30px;
  box-sizing: border-box;
}
