html {
  font-size: 10px;
}
section {
  padding: 10rem 0px;
}
main {
  padding: 3rem 0;
}
.button {
  width: 100%;
  background-color: #fdb303;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  font-size: 1.5rem;
}
