@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
section {
  padding: 10rem 0px;
}
.section-header {
  margin-bottom: 13rem;
  text-align: center;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  margin-top: -1rem;
}
.section-header p {
  font-size: 1.6rem;
  font-family: 'ProximaNova_reg', sans-serif;
  margin-top: 3.5rem;
}
.section-header_light {
  color: #ffffff;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.phone-link {
  font-family: 'ProximaNova_bold', sans-serif;
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
}
.button {
  width: 100%;
  background-color: #fdb303;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #db9a02;
}
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 3rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #45b713;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  margin-top: 2rem;
  position: relative;
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.7rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  margin: 2rem 0;
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.7rem;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.main-form-btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 85%;
  font-size: 1.4rem;
}
.features-images {
  height: 8rem;
  margin-bottom: 4rem;
}
.features-images img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0%;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 100%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 100%;
}
.price {
  padding: 12rem 0px;
  background: #45b713 url(../img/prices-bg.jpg) center;
}
.price-btn-header {
  max-width: 35rem;
  height: 60px;
  font-size: 1.6rem;
}
.price-block {
  padding: 2rem 2.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 50rem;
}
.price h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price img {
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 13rem;
  font-size: 1.4rem;
  font-family: 'Proxima Nova Semibold', sans-serif;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.price-btn {
  padding: 1.5rem 4rem;
  max-width: 20rem;
}
.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  text-align: center;
  width: 350px;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 5rem;
  background-color: #fff;
}
.popup-content p {
  font-size: 18px;
}
.popup-form {
  padding: 0;
  margin-top: 3rem;
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
  font-size: 4rem;
  color: #ffffff;
}
.popup-header {
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 1199px) {
  .section-header_light {
    margin-bottom: 0;
  }
  .price-button {
    text-align: center;
    margin: 4rem 0;
  }
  .price p {
    margin-bottom: 0;
  }
  .price-block {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: right top;
  }
  .phone {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: left top;
  }
  .header {
    text-align: center;
  }
  .phone {
    margin: 3rem 0px;
  }
}
@media (max-width: 575px) {
  .main h1 {
    font-size: 3.5rem;
  }
}
