@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
  overflow-x: hidden;
}
section {
  padding: 10rem 0px;
}
.section-header {
  margin-bottom: 13rem;
  text-align: center;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  margin-top: -1rem;
}
.section-header p {
  font-size: 1.6rem;
  font-family: 'ProximaNova_reg', sans-serif;
  margin-top: 3.5rem;
}
.section-header_light {
  color: #ffffff;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.phone-link {
  font-family: 'ProximaNova_bold', sans-serif;
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
}
.button {
  width: 100%;
  background-color: #fdb303;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #db9a02;
}
.form-input {
  margin: 2rem 0;
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.7rem;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 3.5rem;
  font-size: 2.4rem;
  line-height: 3rem;
}
.main span {
  display: inline-block;
  padding: 1.5rem 4rem;
  background-color: #45b713;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  margin-top: 1.5rem;
  position: relative;
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.7rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 85%;
  font-size: 1.4rem;
}
.features-images {
  height: 8rem;
  margin-bottom: 4rem;
}
.features-images img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0%;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 100%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 100%;
}
.price {
  padding: 12rem 0px;
  background: #45b713 url(../img/prices-bg.jpg) center;
}
.price-btn-header {
  max-width: 35rem;
  height: 60px;
  font-size: 1.6rem;
}
.price-block {
  padding: 2rem 2.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 50rem;
}
.price h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price img {
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 13rem;
  font-size: 1.4rem;
  font-family: 'Proxima Nova Semibold', sans-serif;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.price-btn {
  padding: 1.5rem 4rem;
  max-width: 20rem;
}
.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  text-align: center;
  width: 350px;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 5rem;
  background-color: #fff;
}
.popup-content p {
  font-size: 18px;
}
.popup-form {
  padding: 0;
  margin-top: 3rem;
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
  font-size: 4rem;
  color: #ffffff;
}
.popup-header {
  font-weight: bold;
  font-size: 18px;
}
.feedback {
  position: relative;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #45b713;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
  position: relative;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #45b713;
  border-bottom: 0;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
          box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #45b713;
  border: none;
}
.feedback-slider .media {
  margin-top: 3rem;
}
.feedback-slider .media strong {
  font-size: 1.4rem;
}
.feedback-slider .media .mt-0 {
  font-size: 1.4rem;
}
.feedback-form {
  margin-top: 6rem;
  position: relative;
  padding: 5rem 12rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 7px);
          transform: translate(-50%, 7px);
}
.feedback-form-btn {
  max-width: 25rem;
  margin: auto;
  margin-top: 1rem;
}
.feedback figure .hand {
  position: absolute;
  bottom: 0;
  left: 150px;
  width: 25%;
}
.scheme {
  background: #ffffff url(../img/scheme-bg.png) bottom -10rem right no-repeat;
  background-size: 65rem;
}
.scheme .section-header {
  margin-bottom: 0rem;
}
.scheme-block {
  margin-top: 6.5rem;
  min-height: 30rem;
}
.scheme-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-top: 3.8rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 18px;
}
.scheme-block p {
  font-family: 'ProximaNova_reg', sans-serif;
  margin-top: 2.7rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 18px;
}
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .section-header {
  margin-bottom: 8rem;
}
.all-inclusive .section-header h2 {
  color: #45b713;
}
.all-inclusive .media {
  min-height: 8rem;
}
.all-inclusive .media-left .circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #45b713;
  border-radius: 50%;
  padding: 0.3rem;
  margin: 1.5rem;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.all-inclusive .media-left .circle-border .circle {
  display: inline-block;
  background-color: #45b713;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.all-inclusive .media-body {
  padding-top: 3rem;
}
.all-inclusive .media-body h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media-body p {
  font-size: 1.3rem;
}
.problems {
  position: relative;
}
.problems-girl {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 32.5rem;
  margin-left: -20rem;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 37rem;
  margin-bottom: 2rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-weight: 700;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.problems-list ul li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 3.5rem;
}
.problems-list ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background-color: #111;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  color: #313131;
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/cancel.png) center no-repeat;
  background-size: 70%;
}
.problems-list_good {
  border-color: #45b713;
}
.problems-list_good ul li:before {
  background: url(../img/checked.png) center no-repeat;
  background-size: 70%;
}
.materials {
  background: #ffffff url(../img/material-bg.jpg) center no-repeat;
  background-size: cover;
}
.materials .section-header {
  margin-bottom: 8rem;
  margin-top: 2rem;
}
.materials img {
  display: block;
  margin: 0 auto;
  min-height: 177px;
}
.materials .knauf {
  margin-bottom: 3rem;
}
.materials-offer {
  text-align: center;
  margin-top: 8rem;
}
.materials-link {
  color: #45b713;
  border-bottom: 1px dotted #45b713;
}
.materials-link:hover {
  color: #34890e;
}
@media (max-width: 1199px) {
  .section-header_light {
    margin-bottom: 0;
  }
  .price-button {
    text-align: center;
    margin: 4rem 0;
  }
  .price p {
    margin-bottom: 0;
  }
  .price-block {
    margin-bottom: 2rem;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 4rem;
  }
  .scheme {
    background: #ffffff url(../img/scheme-bg.png) bottom -13.5rem right -35rem no-repeat;
  }
  .problems-list {
    min-height: 50rem;
  }
}
@media (max-width: 1024px) {
  .feedback figure .hand {
    left: 0;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: right top;
  }
  .phone {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main {
    background-position: left top;
  }
  .header {
    text-align: center;
  }
  .phone {
    margin: 3rem 0px;
  }
  .feedback figure .hand {
    left: 0;
    width: 30%;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 10rem;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-girl {
    display: none;
  }
}
@media (max-width: 575px) {
  .main h1 {
    font-size: 2.8rem;
  }
}
