html, body {
  width: 100%;
  height: 100%;
}

/* NB Все свойства нужно задавать блоку(обертке), а не содержимому(элементу)!!! */

/* Первый метод
.box1 {
  width: 300px;
  height: 400px;
  background-color: #5c5c5c;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 200px);
} */

/* Первый метод (мой вариант)
.box1 {
  width: 300px;
  height: 400px;
  background-color: #5c5c5c;
  position: absolute;
  right: calc(50% - 150px);
  top: calc(50% - 200px);
} */



/* Второй метод
.box2 {
  width: 300px;
  background-color: #5c5c5c;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
} */

/* Второй метод (мой вариант)
.box2 {
  width: 300px;
  background-color: #5c5c5c;
  position: absolute;
  right: calc(50% - 150px);
  top: 50%;
  transform: translate(0, -50%);
} */



/* Третий метод (...ооочень мутный!!!)
.parent {
   position: absolute;
   top:0;
   left:0;
   text-align: center;
   width: 100%;
   height: 100%;
   font-size:0;
}
.parent::before {
   content:'';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
.block {
   display: inline-block;
   vertical-align: middle;
} */



/* Четвертый метод
.flex-center1 {
  background-color: #5c5c5c;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
} */



/* Пятый метод
.flex-center2 {
  width: 400px;
  height: 400px;
  background-color: #5c5c5c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 200px);
  left:0;
  right:0;
  margin: 0 auto;
} */

/* Пятый метод (мой вариант)
.flex-center2 {
  width: 400px;
  height: 400px;
  background-color: #5c5c5c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 200px);
  right: calc(50% - 200px);
} */



/* Шестой метод
.grid-center {
  background-color: #5c5c5c;
  color: #fff;
  display: grid;
  height: 100%;
  justify-items: center;
  align-items: center;
} */



/* Седьмой метод (...устаревший!!!)
.box3 {
  background-color: #5c5c5c;
  color: #fff;
  display: table;
  height: 100%;
  width: 100%;
  }
.item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */
